# *.aux
# *.bbl
# *.bcf
# *.blc
# *.blg
# *.lof
# *.log
# *.lot
# *.out
# *.run.xml
# *.synctex(busy)
# *.synctex.gz
# *.toc

.auxiliary/

.DS_Store

# incase ignored files get still tracked.
# git rm -r --cached . && git add . && git commit -am "Remove ignored files"
# https://stackoverflow.com/questions/1274057/how-do-i-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore